#root, body, html {
    height: 100%;
    margin:0;
}

body{
    background: url(./Assets/expense-bg.jpg);
    background-size: cover;
    
    /* background: url("https://md-tabassum-hossain-emon.netlify.app/media/python.gif");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center; */
}